* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    font-family: 'Montserrat', sans-serif;
}

body {
    background: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    align-items: center;
}

#username-box {
    display: flex;
    align-items: center;
}

#username-icon {
    display: flex;
    align-items: center;
    margin-left: 0.2rem;
}

#username-icon > img {
    width: 30%;
    height: auto;
}

#header-action-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.1rem;
}

#header-action-buttons > div {
    display: flex;
    justify-content: center;
}

.action-button {
    width: 100%;
}

.action-button > img {
    width: 60%;
    height: auto;
}

#profile {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
}

#profile-info {
    display: flex;
    align-items: center;
}

#profile-img {
    width: 30vw;
    display: flex;
    justify-content: center;
}

#profile-avatar {
    width: 80%;

    border: 2px grey solid;
    padding: 0.2rem;
    border-radius: 10rem;
}

#profile-numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-stats {
    margin: 1rem;
}

.profile-stats h3{
    text-align: center;
}

#bio {
    margin-top: 1rem;
}

#name {
    font-weight: normal;
}

#profile-type p {
    color: darkgray;
}

#bio-description p {
    font-weight: normal;
}

#profile-buttons {
    margin-top: 2rem;
    width: 100%;
}

#profile-buttons div{
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.profile-button {
    border: 2px darkgray solid ;
    border-radius: 0.3rem;

    padding: 0.5rem;
    margin: 0.2rem;
}

#stories {
    display: flex;
    justify-content: left;

    margin-top: 2rem;
}

.story {
    margin: 0 1.5rem 0 0;
    width: 15%;
}

.story-img {
    width: 100%;
    height: 8vh;
}

.story-avatar {
    height: 100%;
    width: 100%;

    border: 2px darkgray solid;
    border-radius: 10rem;

    padding: 0.1rem;
}

.story p {
    text-align: center;
    font-size:small;
    margin-top: 0.3rem;
}

#posts {
    padding: 2rem 0.5rem;
}

#navigation-icons {
    width: 100%;
    height: 5%;
    display: flex;
}

.nav-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.nav-icon > img {
    width: 15%;
}

.nav-icon.active {
    border-bottom: 1px solid white;
}

.nav-icon.disabled {
    filter: brightness(50%);
}

#image-posts {
    margin-top: 0.2rem;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.1rem;
}

.post {
    height: 15vh;
}

.post img {
    width: 100%;
    height: 100%;
}

.post.row {
    position: relative;
}

.row-icon{
    position: absolute;

    width: 15%;
    height: 15%;

    top: 0.5rem;
    right: 0.5rem;
}

footer {
    background: black; 
    height: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    padding: 0.1rem 2rem;
}

footer > .footer-icon {
    display: flex;
    align-items: center;

    width: 10%;
    height: auto;

    padding: .5rem;
}

footer > .footer-icon.profile-pic > img{
    border: 3px solid white;
    border-radius: 10rem;
}

footer > .footer-icon > img {
    width: 100%;
    height: auto;
}
